cvzone==1.5.2
opencv-contrib-python==4.5.4.58
opencv-python==4.5.1.48
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
matplotlib==3.3.4
notebook==6.2.0
notebook-as-pdf==0.4.0
numpy==1.19.5
scipy==1.6.1